.ant-tabs-nav {
    width: 100% !important;
    }
    
    .ant-tabs-tab {
    display: block; 
    flex: 1;
    text-align: center;
    justify-content: center;
    }
    
    
    .ant-tabs-nav > div:nth-of-type(1) {
    display: unset !important;
    width: 100% !important;
    }
    .ant-tabs{
        color: white;
    }
   .ant-tabs .ant-tabs-tab:hover{
        color: #FFCB65;
    }
    .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #FFCB65;
    }
    .ant-tabs-top > .ant-tabs-nav::before {
        border-bottom: 1px solid #FFCB65;
    }
     .ant-tabs-ink-bar{
        background: #FFCB65 !important;
        border: 2px solid #FFCB65 !important
    }